<nav class="navbar navbar-expand navbar-light bg-light">
  <a *ngIf="user" (click)="toggleSidenav()" class="nav-link text-left">
    <i class="material-icons align-middle text-black">menu</i>
  </a>
  <div class="container">
    <a class="navbar-brand">Awesome List</a>
    <div class="collapse navbar-collapse">
      <div *ngIf="user" class="collapse navbar-collapse">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link">{{ user?.email }}</a>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" (click)="logout()">Déconnexion</a>
          </li>
        </ul>
      </div>
      <div *ngIf="!user" class="collapse navbar-collapse">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" [class.active]="isActive(homePath)" (click)="navigate(homePath)">Accueil</a>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" [class.active]="isActive(loginPath)" (click)="navigate(loginPath)">Connexion</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [class.active]="isActive(registerPath)" (click)="navigate(registerPath)">Inscription</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
